p,dt,dd,li 	{ font-family:Arial,Helvetica,sans-serif; font-size:12px; }
dt				{ margin-top:24px; font-weight:bold; margin-bottom:8px }
ul 			{ list-style-type:circle }
ul.none 		{ list-style-type:none }
.zue  		{ color:navy; font-weight:bold; text-indent:0px; }
.bold 		{ font-weight:bold; margin-top:8px; margin-bottom:8px }
.i 			{ font-style:italic; }
p.example 	{ margin-bottom:0px }
p.pre			{ white-space:pre; font-family:monospace }
body			{ max-width:800px; background-color:#e5e5e5; background-image:url(texture.png); margin-left:16px; margin-right:16px; }
table.navtable 			{ border: 1px dotted gray;  }
table.navtable a 			{ text-decoration:none; color:navy }
table.navtable a:hover 	{ background-color:#00488F; color:#ffffE0 }
table.navtable td			{ text-align:center; }
